{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    {{ form_row(form.description) }}
    {{ form_end(form) }}
</div>
{% endblock %}
